/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}
.help-block{
  color: #d60d12!important; font-size:16px ; 
}
.has-danger input{
  border:1px solid #d60d12
}
.title{ text-align: center !important;}
nav {
  padding-top: 20px;
}
.clientpage{
  margin-top: 50px;
}
